<!-- About Section -->
    <section id="boek">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Boek</h2>
                    <h3 class="section-subheading text-muted">Mijn boek <em>Oorlogsbrieven</em> komt in januari uit bij Atlas Contact</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                  <p>Samen met Nieske Vergunst [link] schreef ik het boek Oorlogsbrieven. Nieske vond op zolder bij haar opa een doos met 120 brieven die tijdens de Hongerwinter (1944/1945) naar de familie van haar opa waren verstuurd. Toen ze daar citaten uit voorlas en wist-je-datjes begon te appen, zei ik: ‘Daar moet je iets mee doen!’ Vier jaar later tekenden we een auteurscontract bij uitgeverij Atlas Contact. Met het boek krijg je een beeld van gewone mensen, géén helden, tijdens de Hongerwinter. De afzonderlijke brieven vormen portretjes van de brievenschrijvers, die samen een groot portret van een familie in oorlogstijd vormen. </p>
                  <p>Meer informatie vind je op <a href="http://www.oorlogsbrieven.nl">oorlogsbrieven.nl</a>.</p>
                  <p>Catalogustekst</p>
                  <p>Omslag</p>
                </div>
                <div class="col-lg-4">
                <img src="./img/oorlogsbrieven.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>
