<!-- About Section -->
    <section id="boek">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Boek</h2>
                    <h3 class="section-subheading text-muted">Samen met Nieske Vergunst schreef ik het boek <em>Oorlogsbrieven</em></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                  <p>Samen met <a href="http://nieskevergunst.nl/" target="_blank">Nieske Vergunst</a> schreef ik het boek Oorlogsbrieven. Nieske vond op zolder bij haar opa een doos met 120 brieven die tijdens de Hongerwinter (1944/1945) naar de familie van haar opa waren verstuurd. Toen ze daar citaten uit voorlas en wist-je-datjes begon te appen, zei ik: ‘Daar moet je iets mee doen!’ Vier jaar later tekenden we een auteurscontract bij <a href="http://www.atlascontact.nl/">uitgeverij Atlas Contact</a>. Met het boek krijg je een beeld van gewone mensen, géén helden, tijdens de Hongerwinter. De afzonderlijke brieven vormen portretjes van de brievenschrijvers, die samen een groot portret van een familie in oorlogstijd vormen. </p>
                  <p>Meer informatie vind je op <a href="http://www.oorlogsbrieven.nl">oorlogsbrieven.nl</a>.</p>
                  <p>De uitgeverij schrijft hierover:</p>
                  <p><em>Hebben jullie nog eten? Hebben jullie nog warmte en licht? Hebben jullie al gehoord dat oom Jan is meegenomen door de Duitsers? En dat het huis van de buren als represaille is afgebrand? Hoe lang zou het nog duren? Komen we de winter door?
Op de zolder van het huis van haar grootouders stuit Nieske Vergunst op een stapel brieven geschreven tijdens de Hongerwinter. En daaruit blijkt: in het dagelijks leven in Nederland merk je niet veel van een geallieerde landing in Normandië. Wel merk je het wanneer gas en elektriciteit worden afgesloten en dat het voedsel opraakt. Dus wanneer de familie Spaanderman in 1944 en 1945 brieven krijgt van familie uit Den Haag, Friesland of Amsterdam, gaat het niet over politiek, maar over kou, honger, wanhoop.
<em>Oorlogsbrieven</em> schetst een indringend portret van een doorsnee Nederlandse familie tijdens de hongerwinter op basis van ruim honderd brieven, verstuurd aan één gezin. Vergunst en Mathijssen kozen de brieven en verrijkten ze met historische context en anekdotes. Ze laten zien hoe gewone mensen, géén helden, leefden en overleefden in een uitzonderlijke episode in de Nederlandse geschiedenis.</em></p>
                    </div>
                <div class="col-lg-4">
                <img src="./img/oorlogsbrieven.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>
