<!-- About Section -->
    <section id="inhuren">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Inhuren?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p>Wil je mij inhuren, voor hulp bij taal en tekst, voor een taalworkshop of lezing? Dat kan. Stuur me <a href="mailto:lisannemathijssen@gmail.com">een mailtje</a> en ik neem zo snel mogelijk contact met je op.</p>

                    <p>Ik kan je helpen bij het schrijven en redigeren van boeken, sollicitatiebrieven, scripties, persberichten, websites, artikelen, promotionele teksten en alle andere tekstuitingen. Ik ben ervan overtuigd dat er aan elke tekst iets te verbeteren is, en ik doe dat graag.</p>

                    <p>Meer informatie vind je op <a href="http://www.taal-correctie.nl">Taal-correctie.nl</a>.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                  <img src="./img/actie.jpg" class="img-responsive img-thumbnail"/>
                </div>
            </div>
        </div>
    </section>
