<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                  <a href="#werk" class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading"><a href="#werk" >Werk</a></h4>
                    <p class="text-muted">Ik ben literair redacteur en schrijver. Klik hier om mijn werk te bekijken.</p>
                </div>
                <div class="col-md-4">
                  <a href="#boek" class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading"><a href="#boek" >Boek</a></h4>
                    <p class="text-muted">Mijn boek <i>Oorlogsbrieven</i> zal in januari 2016 in de winkel liggen. Klik hier voor meer informatie over het boek.</p>
                </div>
                <div class="col-md-4">
                    <a href="#overmij" class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i>
                    </a>
                    <h4 class="service-heading"><a href="#overmij">Over mij</a></h4>
                    <p class="text-muted">Je kunt mij ook inhuren, voor hulp bij taal en tekst. Klik hier om meer over mij te weten te komen.</p>
                </div>
            </div>
        </div>
    </section>
