<!-- About Section -->
    <section id="overmij">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over mij</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p>In random volgorde hou ik onder andere van de volgende dingen: taal, innovatie, dansen, lezen, nieuwe dingen leren, efficiëntie, tv-series, processen verbeteren, geschiedenis, snowboarden, schrijven, literatuur, wetenschap, hardlopen, internet, Lowlands.</p>

                  <p>In mijn werk als redacteur kijk ik naar hoe verhalen op de lezer overkomen, om ze van daaruit samen met de auteur te perfectioneren. </p>

                  <h4>Meer dingen over mij vind je op de volgende plekken:</h4>
                  <ul>
                    <li><a href="">LinkedIn</a></li>
                  </ul>
Twitter
Facebook
Taal-correctie.nl
Goodreads
Instagram
Oorlogsbrieven
Atlas Contact http://www.atlascontact.nl/12466/
Stichting Schrijven School Samenleving

  <h4>In de media</h4>

<p>‘Brieven geven beeld van hoe de oorlog echt was’ (NOS.nl, 4 mei 2015)</p>
<p>‘Interesse in Tweede Wereldoorlog neemt toe’ (NOS Journaal, NPO radio 1, 4 mei 2015)</p>
<p>Boekblad http://www.boekblad.nl/zoekresultaten.16.lynkx?q=lisanne+mathijssen</p>

<p>De Titaan https://detitaan.wordpress.com/edities/</p>

<p>Boekenfeestje op de grachtengordel (GeenStijl, 2014) http://www.geenstijl.nl/mt/archieven/2014/05/gstv_boekenfeestje_op_de_grach.html</p>


                </div>
            </div>
        </div>
    </section>
