<!-- Team Section -->
    <section id="overmij" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over mij</h2>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <h4>Wie ben ik?</h4>
                    <p>In random volgorde hou ik onder andere van de volgende dingen: taal, innovatie, dansen, lezen, nieuwe dingen leren, efficiëntie, tv-series, processen verbeteren, geschiedenis, snowboarden, schrijven, literatuur, wetenschap, hardlopen, internet, Lowlands.</p>

                    <p><h4>Hoe ga ik te werk?</h4></p>
                    <p>In mijn werk als redacteur kijk ik naar hoe verhalen op de lezer overkomen, om ze van daaruit samen met de auteur te perfectioneren. </p>

                    <h4>Meer dingen over mij vind je op de volgende plekken:</h4>
                    <ul>
                      <li><a href="https://nl.linkedin.com/in/lisannemathijssen">LinkedIn</a></li>
                      <li><a href="https://twitter.com/Lytje">Twitter</a></li>
                      <li><a href="https://www.facebook.com/lisanne.mathijssen">Facebook</a></li>
                      <li><a href="http://www.taal-correctie.nl/">Taal-correctie.nl</a></li>
                      <li><a href="https://www.goodreads.com/user/show/4262007-lisanne">Goodreads</a></li>
                      <li><a href="https://instagram.com/lylisanne/">Instragram</a></li>
                      <li><a href="http://oorlogsbrieven.nl/">Oorlogsbrieven</a></li>
                      <li><a href="http://www.atlascontact.nl/12466/">Atlas Contact</a></li>
                      <li><a href="http://www.sss.nl/SSS_schrijvers_volwassenen_auteurs_overzicht.asp?anongbr=891E6220150606164047#anchorM">Stichting Schrijven School Samenleving</a></li>
                    </ul>


    <h4>In de media</h4>

  <p><a href="http://nos.nl/artikel/2033860-brieven-geven-beeld-van-hoe-de-oorlog-echt-was.html">‘Brieven geven beeld van hoe de oorlog echt was’</a> (NOS.nl, 4 mei 2015)</p>
  <p><a href="http://oorlogsbrieven.nl/2015/05/04/oorlogsbrieven-op-radio-1-hier-terug-te-luisteren/">‘Interesse in Tweede Wereldoorlog neemt toe’</a> (NOS Journaal, NPO radio 1, 4 mei 2015)</p>
  <p><a href="http://www.boekblad.nl/zoekresultaten.16.lynkx?q=lisanne+mathijssen">Boekblad</a> (april 2015)</p>
  <p><a href="https://detitaan.wordpress.com/edities/">De Titaan</a> (maart 2015)</p>
  <p><a href="http://www.geenstijl.nl/mt/archieven/2014/05/gstv_boekenfeestje_op_de_grach.html">Boekenfeestje op de grachtengordel</a> (GeenStijl, 2014) </p>

<h4>Contact</h4>
<a href="mailto:lisannemathijssen@gmail.com">Je kunt mij altijd een mailtje sturen.</a> 
                </div>
            </div>
        </div>
    </section>
