<!-- About Section -->
    <section id="werk" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Werk</h2>
                    <h3 class="section-subheading text-muted">Ik ben acquirerend redacteur bij <a href="http://www.harpercollins.nl/">uitgeverij HarperCollins Holland</a></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img src="./img/boeken.jpg" class="img-responsive"/>
              </div>
                <div class="col-lg-6">
                  <p>Ik ben literair redacteur en schrijver. Dat betekent dat ik gevestigde en beginnende auteurs begeleid bij het schrijven van hun boek en dat ik zelf schrijf. </p>

                  <h4>Als literair redacteur werk(te) ik onder andere samen met:</h4>
                  <p>
                    <a href="https://www.bol.com/nl/c/algemeen/pierre-jarawan/11424864/" class="author">Pierre Jarawan</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/marieke-nijkamp/12353775/" class="author">Marieke Nijkamp</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/arun-gandhi/117079/" class="author">Arun Gandhi</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/jeroen-windmeijer/1858421/" class="author">Jeroen Windmeijer</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/ronald-nijboer/15680690/" class="author">Ronald Nijboer</a>,
                    <a href="http://www.bol.com/nl/p/de-belofte-van-pisa/9200000035844257/" class="author">Mano Bouzamour</a>,
                    <a href="https://nl.wikipedia.org/wiki/Solomonica_de_Winter" class="author">Solomonica de Winter</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/stefan-popa/10568286/" class="author">Stefan Popa</a>,
                    <a href="https://boekblad.nl/Nieuws/Item/soraya-vink-hebban-tekent-contract-bij-harpercollins" class="author">Soraya Vink</a>,
                    <a href="https://nl.wikipedia.org/wiki/Hafid_Bouazza" class="author">Hafid Bouazza</a>,
                    <a href="https://nl.wikipedia.org/wiki/Hassan_Bahara" class="author">Hassan Bahara</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/sander-verheijen/14205851/" class="author">Sander Verheijen</a>,
                    <a href="https://www.bol.com/nl/c/algemeen/lina-bengtsdotter/16458251/" class="author">Lina Bengtsdotter</a>,
                    <a href="https://en.wikipedia.org/wiki/Tom_Knox_%28author%29" class="author">S.K. Tremayne</a>,
                    <a href="https://nl.wikipedia.org/wiki/Floortje_Dessing" class="author">Floortje Dessing</a>,
                    <a href="http://nickmuller.nl/" class="author">Nick Muller</a>,
                    <a href="https://nl.wikipedia.org/wiki/Rick_Nieman" class="author">Rick Nieman</a>,
                    <a href="http://riannemeijer.nl/" class="author">Rianne Meijer</a>,
                    <a href="http://www.zozuidas.nl/" class="author">ZoZuidas (de Zoza’s)</a> en
                    <a href="https://nl.wikipedia.org/wiki/%C3%96zcan_Akyol" class="author">Özcan Akyol</a>.
                    </p>

                  <h4>Verder schreef en redigeerde ik onder andere voor:</h4>
                  <p>
                  <a href="http://www.atlascontact.nl/" class="portfolio">Uitgeverij Atlas Contact</a>,
                  <a href="http://uitgeverijprometheus.nl/" class="portfolio">uitgeverij Prometheus/Bert Bakker</a>,
                  <a href="http://www.kluitman.nl/" class="portfolio">uitgeverij Kluitman</a>,
                  <a href="http://pepperbooks.nl/" class="portfolio">uitgeverij Pepper Books</a>,
                  <a href="http://www.boekbond.nl/" class="portfolio">de Koninklijke Boekverkopersbond</a>,
                  <a href="http://www.artez.nl/" class="portfolio">ARTEZ Hogeschool voor de Kunsten</a>,
                  <a href="http://www.uva.nl/home" class="portfolio">UvA</a>,
                  <a href="http://www.martvisser.nl/" class="portfolio">Mart Visser</a>,
                  <a href="http://www.foodinspiration.nl/" class="portfolio">Food Inspiration</a>,
                  <a href="http://3voor12.vpro.nl/" class="portfolio">3VOOR12</a>,
                  <a href="http://www.notjustanybook.nl" class="portfolio">Not Just Any Book</a>,
                  <a href="https://itunes.apple.com/us/app/forens/id775913891?mt=8" class="portfolio">Forens iPhone app</a>,
                  <a href="http://www.diskad.nl/" class="portfolio">Diskad Publishing Solutions</a> en de
                  <a href="http://www.nvvn.org/" class="portfolio">Nederlandse Vereniging voor Neurochirurgie</a>.
                  </p>




                </div>
            </div>
        </div>
    </section>
