<!-- About Section -->
    <section id="werk" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Werk</h2>
                    <h3 class="section-subheading text-muted">Ik ben acquirerend redacteur bij <a href="http://www.kluitman.nl/">uitgeverij Kluitman</a></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img src="./img/boeken.jpg" class="img-responsive"/>
              </div>
                <div class="col-lg-6">
                  <p>Ik ben literair redacteur en schrijver. Dat betekent dat ik gevestigde en beginnende auteurs begeleid bij het schrijven van hun boek en dat ik zelf schrijf. </p>

                  <h4>Als literair redacteur werkte ik onder andere samen met:</h4>
                  <p>Mano Bouzamour, Solomonica de Winter, Hafid Bouazza, Hassan Bahara, S.K. Tremayne, Jan Bor, Floortje Dessing, Dr. Frank, Roman Helinski, Carl Frode Tiller, Nick Muller, Rick Nieman, Olga Kortz, Rianne Meijer, ZoZuidas (de Zoza’s), Samantha Shannon, Paul van Liempt, Bernard Hammelburg, Beau van Erven Dorens, Marian Mudder, Daniëlle Hermans, Özcan Akyol en Arnold Karskens.</p>

                  <h4>Verder schreef en redigeerde ik onder andere voor:</h4>
                  <p>Uitgeverij Atlas Contact, uitgeverij Prometheus/Bert Bakker, uitgeverij Kluitman, de Koninklijke Boekverkopersbond, ARTEZ, UvA, Mart Visser, Food Inspiration, 3VOOR12, Not Just Any Book, Forens iPhone app, Diskad Publishing Solutions en de Nederlandse Vereniging voor Neurochirurgie.</p>

                  <p>Ook geef ik cursussen creatief schrijven via <a href="http://www.literairvakmanschap.nl">Literair Vakmanschap</a>. In twaalf lessen van twee uur krijg je een complete schrijfcursus, van literatuurgeschiedenis tot publicatie. De cursus heeft publicatiegarantie: aan het einde van de cursus ligt er een echt boek, met een echt ISBN, met de verhalen uit de cursus.</p>



                </div>
            </div>
        </div>
    </section>
