<!-- About Section -->
    <section id="werk" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Werk</h2>
                    <h3 class="section-subheading text-muted">Ik ben acquirerend redacteur bij <a href="http://www.harpercollins.nl/">uitgeverij HarperCollins Holland</a></h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img src="./img/boeken.jpg" class="img-responsive"/>
              </div>
                <div class="col-lg-6">
                  <p>Ik ben literair redacteur en schrijver. Dat betekent dat ik gevestigde en beginnende auteurs begeleid bij het schrijven van hun boek en dat ik zelf schrijf. </p>

                  <h4>Als literair redacteur werk ik onder andere samen met:</h4>
                  <p><a href="http://www.bol.com/nl/p/de-belofte-van-pisa/9200000035844257/" class="author">Mano Bouzamour</a>,
                    <a href="https://nl.wikipedia.org/wiki/Solomonica_de_Winter" class="author">Solomonica de Winter</a>,
                    <a href="https://nl.wikipedia.org/wiki/Hafid_Bouazza" class="author">Hafid Bouazza</a>,
                    <a href="https://nl.wikipedia.org/wiki/Hassan_Bahara" class="author">Hassan Bahara</a>,
                    <a href="https://en.wikipedia.org/wiki/Tom_Knox_%28author%29" class="author">S.K. Tremayne</a>,
                    <a href="https://nl.wikipedia.org/wiki/Jan_Bor" class="author">Jan Bor</a>,
                    <a href="https://nl.wikipedia.org/wiki/Floortje_Dessing" class="author">Floortje Dessing</a>,
                    <a href="http://www.drfrank.nl/" class="author">Dr. Frank</a>,
                    <a href="https://nl.wikipedia.org/wiki/Roman_Helinski" class="author">Roman Helinski</a>,
                    <a href="https://en.wikipedia.org/wiki/Carl_Frode_Tiller" class="author">Carl Frode Tiller</a>,
                    <a href="http://nickmuller.nl/" class="author">Nick Muller</a>,
                    <a href="https://nl.wikipedia.org/wiki/Rick_Nieman" class="author">Rick Nieman</a>,
                    <a href="https://www.linkedin.com/in/olgakortz/nl" class="author">Olga Kortz</a>,
                    <a href="http://riannemeijer.nl/" class="author">Rianne Meijer</a>,
                    <a href="http://www.zozuidas.nl/" class="author">ZoZuidas (de Zoza’s)</a>,
                    <a href="https://en.wikipedia.org/wiki/Samantha_Shannon" class="author">Samantha Shannon</a>,
                    <a href="https://nl.wikipedia.org/wiki/Paul_van_Liempt" class="author">Paul van Liempt</a>,
                    <a href="http://www.bnr.nl/opinie/bernard-hammelburg/" class="author">Bernard Hammelburg</a>,
                    <a href="https://nl.wikipedia.org/wiki/Beau_van_Erven_Dorens" class="author">Beau van Erven Dorens</a>,
                    <a href="https://nl.wikipedia.org/wiki/Marian_Mudder" class="author">Marian Mudder</a>,
                    <a href="http://daniellehermans.nl/" class="author">Daniëlle Hermans</a>,
                    <a href="https://nl.wikipedia.org/wiki/%C3%96zcan_Akyol" class="author">Özcan Akyol</a> en
                    <a href="https://nl.wikipedia.org/wiki/Arnold_Karskens" class="author">Arnold Karskens</a>.
                    </p>

                  <h4>Verder schrijf en redigeer ik onder andere voor:</h4>
                  <p>
                  <a href="http://www.atlascontact.nl/" class="portfolio">Uitgeverij Atlas Contact</a>,
                  <a href="http://uitgeverijprometheus.nl/" class="portfolio">uitgeverij Prometheus/Bert Bakker</a>,
                  <a href="http://www.kluitman.nl/" class="portfolio">uitgeverij Kluitman</a>,
                  <a href="http://pepperbooks.nl/" class="portfolio">uitgeverij Pepper Books</a>,
                  <a href="http://www.boekbond.nl/" class="portfolio">de Koninklijke Boekverkopersbond</a>,
                  <a href="http://www.artez.nl/" class="portfolio">ARTEZ Hogeschool voor de Kunsten</a>,
                  <a href="http://www.uva.nl/home" class="portfolio">UvA</a>,
                  <a href="http://www.martvisser.nl/" class="portfolio">Mart Visser</a>,
                  <a href="http://www.foodinspiration.nl/" class="portfolio">Food Inspiration</a>,
                  <a href="http://3voor12.vpro.nl/" class="portfolio">3VOOR12</a>,
                  <a href="www.notjustanybook.nl" class="portfolio">Not Just Any Book</a>,
                  <a href="https://itunes.apple.com/us/app/forens/id775913891?mt=8" class="portfolio">Forens iPhone app</a>,
                  <a href="http://www.diskad.nl/" class="portfolio">Diskad Publishing Solutions</a> en de
                  <a href="http://www.nvvn.org/" class="portfolio">Nederlandse Vereniging voor Neurochirurgie</a>.
                  </p>

                  <p>Ook geef ik cursussen creatief schrijven via <a href="http://www.literairvakmanschap.nl">Literair Vakmanschap</a>. In twaalf lessen van twee uur krijg je een complete schrijfcursus, van literatuurgeschiedenis tot publicatie. De cursus heeft publicatiegarantie: aan het einde van de cursus ligt er een echt boek, met een echt ISBN, met de verhalen uit de cursus.</p>



                </div>
            </div>
        </div>
    </section>
